@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1f1f1;
}

.appgrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sidebar-menu {
  display: none;
}

.product-form label {
  font-size: 14px;
  color: #1e293b;
}

/* table design */

button:active {
  transform: scale(0.96);
}

tr:nth-child(even) {
  background: #f1f5f9;
}
tr:nth-child(odd) {
  background: #ffffff;
}

.tableclass {
  max-width: 1020px;
  max-height: 500px;
  overflow: auto;
}

.active {
  background: #344029;
  color: #fffdd0;
}

@media (max-width: 980px) {
  .highlights {
    grid-template-columns: 1fr;
  }
  .appgrid {
    grid-template-columns: 1fr;
  }

  .sidebar-menu {
    display: block;
  }
  .sidebar {
    left: -900px;
    transition: 0.3s ease-in-out;
  }
  .sidebar-open {
    left: 0px;
    transition: 0.3s ease-in-out;
  }
  .tableclass {
    max-width: 100%;
    overflow: auto;
  }
  td {
    padding-left: 15px;
  }
  th {
    padding-left: 15px;
  }
}
